#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    margin-top: 5rem;

    justify-content: center;
}

.project-container {
    display: flex;
    width: 70%;
    flex-direction: row;
    margin-block: 2rem;

    overflow: hidden;

    border-radius: 25px;
    border: 1px solid rgba(var(--secondary-color), 0.6);

    box-shadow: 1px 1px 0.5rem -1px  rgba(100, 4, 100, 0.361);

    background-color: rgba(28, 28, 51, 0.715);

    justify-content: center;
    align-items: center;
}

.project-img {
    width: 45%;
    border: 0;
}
.project-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.project-head {
    display: flex;
    width: 100%;
    padding: 15px;
    margin: 0;

    border-bottom: 1px solid whitesmoke;

    box-sizing: border-box;

    text-align: start;

    align-items: center;
    justify-content: space-between;
}

.project-head h1 {
    margin: 0;
}

.project-head a {
    display: flex;
    margin: 0;
    margin-left: 20px;


    color: var(--text-secondary-color);
    font-size: 20px;
    text-decoration: none;

    text-align: center;
}
.project-head a img {
    width: 25px;
    margin-inline: 10px;
}

.project-resume {
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    padding-inline: 15px;
}

.project-footer {
    width: 100%;
    display: flex;
    padding-inline: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    
    align-items: center;
    justify-content: space-between;
}

.project-github {
    display: flex;
    align-items: center;

    color: whitesmoke;
    text-decoration: none;
    transition: transform 0.3s;

}

.project-github img {
    width: 25px;
    height: 25px;

    margin-right: 9px;
}

.project-github:hover {
    transform: scale(1.1);
}

.project-skill {
    width: 20px;

    margin-inline: 9px;
}



